.transition {
  transition: all linear 250ms;

  &:hover {
    transition: all linear 250ms;
  }
} 

.top-radius {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.translated {
  transform: translateY(-3rem);
}