$primary: #9356DC;
$primary-light: #b976e0;
$secondary: #FF79DA;
$secondary-light: #b976e0;
$tertiary: #99E2D0;

$emphase-light: #f5edff;

$dark: #101010;
$dark-light: #353535;

$grey: #7e7e7e;
$grey-light: #eaeaea;
$grey-lighter: #f6f6f6;

$success-light: #99e2d0;
$success-dark: #008766;