      .like {
				text-decoration: none;
        font-size: 1.3rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        align-items: flex-start;
        align-self: flex-start;
				color: black;

        .far,
        .fas {
          grid-column: 1 / 1;
          grid-row: 1 / 1;
        }

        .fas {
          opacity: 0;

          &:before {
            background: linear-gradient(45deg,$primary, $secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        &:hover,
        &:active,
				&:focus {
          .far {
            opacity: 0;
          }
          .fas {
              opacity: 1;
          }
        }
      }