@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.meals {
		counter-reset: meal 0;

  .entrees,
  .dishes,
  .desserts {
    display: grid;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .desserts {
    margin-bottom: 0;
  }

  .meal {
		opacity: 0;
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-auto-flow: column;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        animation: slideIn 300ms linear;
				animation-delay: #{$i * 100ms};
				animation-fill-mode: forwards;
      }
    }

    &-type {
      margin-bottom: .5rem;
      text-transform: uppercase;
      position: relative;

      &:after {
        content:"";
        display: block;
        position: absolute;
        bottom: -0.5rem;
        height: 3px;
        width: 2.7rem;
        background-color: $success-light;
      }
    }

    .informations {
      padding: .75rem 1.25rem .75rem .75rem;
      width: 100%;
      box-sizing: border-box;
    }

    .description {
      display: grid;
      gap: .3rem;
      grid-template-areas: "title title" "subtitle price";
      align-items: end;
    }

    .title {
      font-weight: 600;
      grid-area: title;
    }

    .subtitle {
      grid-area: subtitle;
      font-weight: 400;
    }

		.title,
		.subtitle {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
		}

    .price {
      grid-area: price;
      text-align: right;
      font-weight: 600;
    }

    .select-button {
			transition: transform 250ms, width 250ms;
      font-size: 1.4rem;
      width: 0rem;
      display: grid;
      place-content: center;
      background: $success-light;
      color: white;
      transform: translateX(4rem);

      i {
        @keyframes spinner {
          from {
            transform: rotate(0deg)
          }

          to {
            transform: rotate(360deg)
          }
        }
      }
    }
    &:hover  {
      width: 100%;
			transform-origin: right;

			.select-button {
				width: 4rem;
        margin-right: 0;
				transition: transform 250ms, width 250ms;
      	transform: translateX(0rem);
				transform-origin: right;

        i {
          animation: spinner linear 350ms;
        }
      }

			.informations {
				width: 100%;
				transition: width 250ms;
			}
    }
  }
}

@media (min-width: 1024px) {
	.meals {
		display: grid;
		grid-template-columns: repeat(3,minmax(1rem, 1fr));
    gap: 3rem;
    align-items: flex-start;
	}
}