#main-footer {
	background: $dark-light;
	padding: 1.5rem 1.25rem;
} 

#footer-logo {
	max-width: 100px;
}

.usefull-links {
	list-style: none;
	padding: 0;
  margin: 1rem 0 0;

	.usefull-link {
		color: white;

		&:not(:last-of-type) {
			margin-bottom: .65rem;
		}
		
		a {
			color: inherit;
			text-decoration: none;
			
			&.has-icon {
				display: grid;
				grid-template-columns: .7rem 1fr;
				gap: .75rem;
				align-items: center;
			}
			
			.icon {
				font-size: .8rem;
				
				&.fa-hands-helping {
					font-size: .7rem;
				}
			}
		}
	}
}